@model Axb.ActiveAlumni.Nit.ViewModels.RegisterUserVm
<div class="bld">
    <hr />
    <h4>Thank you for registering with NITCAA. You shall receive an e-mail verification mail. Kindly respond.</h4>
    <p class="fs-l">If you don't receive verification email within a few minutes, check your email's spam and junk filters.</p>
    <hr />
</div>
