<img src="~/Content/images/ragam_hme.jpg" style="border-top: 17px solid rgba(0,0,0,.95);" />
<div id="ragam14" style="padding: 10px 20px; padding-bottom: 50px;">
    <div class="ta-c" id="ragLogo">
        <img src="~/Content/images/ragam_logo.png" />
    </div>
    <hr />
    <div>
        One of the largest cultural fests in India, Ragam draws together a diverse palette of people onto a single platform. The exhilarating proshows, action packed events and the exuberant crowds are just some of the highlights. It not only offers the college youth a stage to showcase their myriad talents in various fine arts, but also gives them an opportunity to learn from the best in the many workshops conducted. Experience a little bit of paradise this March.
    </div>
    <div class="ta-c">
        <hr />
    </div>
</div>
