<style>
    #mainBk {
        background: #fff;
    }

    #mainContent {
        padding-bottom: 0px;
        box-shadow: none;
        border: none;
    }
</style>
<div id="bannImg">
    <img src="~/Content/images/22.jpg" style="width: 100%" />
</div>
<div id="profBanCtnr">
    <div class="lazy-load" data-url="/Home/ProfileBanner"></div>
</div>
@*<object data="/content/test.pdf" width="960" height="3000"></object>*@
@{Html.RenderPartial(Routes.CloseNote);}
<div style="margin-top: -12px;">
    <div id="hmeLeft">
        <div id="hmeLeftL">
            <div class="box-sd">
                <a class="home-sp-h6" href="/AlumniStory">Blogs<img src="~/Content/images/arrow.png" /></a>
                @{Html.RenderAction("BlogSummary", "AlumniNews", new { area = "Admin" });}
            </div>
            <br />
            <div class="box-sd">
                <a class="home-sp-h6" href="/AlumniSpeaks">Alumni Speak<img src="~/Content/images/arrow.png" /></a>
                @{Html.RenderAction("Summary", "AlumniSpeak", new { area = "Admin" });}
            </div>
            <br />
        </div>
        <div class="vt-sep"></div>
        <div id="hmeLeftR">
            @*<iframe width="420" height="315" src="//www.youtube.com/embed/eDkpzBPGZm8" frameborder="0" allowfullscreen></iframe>*@
            @*            <div style="margin:36px 10px -15px 10px">
                <iframe id="ytplayer" type="text/html" width="470" height="240"
                    src="http://www.youtube.com/embed/1GmHRscNl6I?autoplay=0&origin=http://www.nitcalumni.com/"
                    frameborder="0"></iframe>
            </div>*@
            <div class="box-sd">
                <a class="home-sp-h6" href="/News">Alumni News<img src="~/Content/images/arrow.png" /></a>
                <div class="hme-cover">
                    @{Html.RenderAction("Summary", "AlumniNews", new { area = "Admin" });}
                </div>
            </div>
            <br class="hme-br" />

            <div class="box-sd">
                <a class="home-sp-h6" href="/AlumniToKnow">Alumni Tweets<img src="~/Content/images/arrow.png" /></a>
                <div class="hme-cover">
                    @{Html.RenderAction("Summary", "AlumniKnow", new { area = "Admin" });}
                </div>
            </div>
        </div>
    </div>
    <div id="hmeRight">
        @*@{Html.RenderAction("RequestBtn", "Mentor");}*@
        <div id="advt">
            <a href="http://suviregroup.com/" target="_blank">
                <span class="ft-r fs-s dim-v">advt</span>
                <img src="~/Content/images/advt.png" />
                <p>
                    Manufacturers of LV & MV Switch gear products
                </p>
                <div>www.suviregroup.com</div>
            </a>
        </div>
        <div style="background: #fff; padding: 20px 0; border: 0px solid #ccc; border-width: 0 0;">
            <a class="home-sp-h6" href="/Events">Alumni Events<img src="~/Content/images/arrow.png" /></a>
            <div class="hme-cover">
                @{Html.RenderAction("Upcoming", "Event", null);}
                @{Html.RenderAction("Past", "Event", null);}
            </div>
        </div>
        <div id="shrCtnr">
            <div class="home-sp-h6">Share this page<img src="~/Content/images/arrow.png" /></div>
            <div class="social-ctnr hme-cover share">
                <div class="fb-btn">
                    <a title="facebook" class="facebook" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href='http://www.facebook.com/sharer.php?s=100&p[title]=NIT Calicut Alumni&p[summary]=Online line portal for NIT Calicut Alumni&p[url]=@Routes.Root&p[images[0]=@Routes.ImageUrl("logo.jpg")'>
                        <img src="~/Content/images/fb.png" /></a>
                </div>
                <div class="tw-btn">
                    <a title="twitter" target="_blank" onclick="return !window.open(this.href, 'Twitter', 'width=640,height=300')" href="https://twitter.com/share?url=http%3A%2F%2Fnitcalumni.com" class="twitter-share-button">
                        <img src="~/Content/images/tw-s.png" />
                    </a>
                </div>
                <div class="ln-btn">
                    <a title="linkdin" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="https://www.linkedin.com/cws/share?url=http%3A%2F%2Fnitcalumni.com">
                        <img src="~/Content/images/ln.png" /></a>
                </div>
            </div>
        </div>
        <br />
        <a href="http://reccaaclub.in/">
            <img src="~/Content/images/recclub.png" />
        </a>
    </div>
</div>

