<img src="~/Content/images/ragam_f.png" style="opacity: .85;border-top: 17px solid rgba(0,0,0,.95);" />
<div id="ragam14">
    <h4>Ragam 2014</h4>
    <hr/>
    <div>
        Other than the whopping 1.2 million in prizes, here's another incentive for you to be at NIT Calicut from March 13-16 - this Ragam we bring you the musical talents of Farhan Akhtar, Benny Dayal and Lagori exclusively at NITC. Be prepared for days and nights of pure entertainment, awesomeness and festivity all combined into one glorious extravaganza
    </div>
    <hr/>

    <div class="fs-l" style="color: #ccc;">Package details</div>

    <pre style="line-height:22px;">For Couple – INR 4000/-	
1. Entry passes for all 3 Pro-Shows (Including the main pro-show by Farhan Akthar)
2. Work shop passes (2)
3. Adventure Sports tickets (2)
4. Carnival entry coupons (2)
5. Complimentary Food coupons worth INR 500/-
6. Gaming event passes(for children) (2)
7. Goodies
    a. T-shirts (2 No’s)
    b. Postcards (10)	

For Single – INR 2500/
1. Entry passes for all 3 Pro-Shows (Including the main pro-show by Farhan Akthar)
2. Work shop passes (1)
3. Adventure Sports tickets (1)
4. Carnival entry coupons (1)
5. Complimentary Food coupons worth INR 250/-
6. Goodies
    a. T-shirts (1 No.)
    b. Postcards (10)

24x7 ushering team exclusively for Alumni.
Special Alumni Desk & Campus tour.
Discount on additional Pro-Show tickets.
Discount on extra T-shirt purchase.
Travel arrangements to Hotel after Pro-Show.
Rooms shall be blocked during Ragam (Mar 13-16) in Hotel Monad (Karanthoor).

We expect a token advance of INR 1000/-*
Account details
    Account name. RAGAM
    Account no. 33621711812
    IFS code. SBIN0002207

You may please contact us for further information and suggestions.

Contact:
    R. Vishnuraj
    RECCAA Students Chapter Volunteer
    Ragam ‘14
    +919446949900
    Email: b100137me@nitc.ac.in

    Amaljeev T.R
    Convenor
    Ragam’14
    +919496847336
    amaljeev@ragam.org.in</pre>
    <hr/>
</div>

