<style>
</style>
<p style="padding-top:24px;"><img src="~/Content/images/Rajan.JPG" style="float:left;padding:3px 12px 0px 0" />Ragam, the annual inter-college fest conducted by National Institute of Technology, Calicut, is scheduled to be held from March 13-16 this year.In addition to the socio-cultural and literary events, pro-shows, workshops, exhibitions and other informal events, this year Ragam team is planning to conduct a special event, a  memorial service on P.Rajan, a former student of the college.</p>

<p>This is the 28th edition of Ragam since its inception in 1987.The humble yet controversial beginning of the fest traces back to the death of P. Rajan, a student of the erstwhile Regional Engineering College, Calicut, as a result of torture in local police custody  during the nationwide Emergency in India in 1976, and the legal battle that followed.  His body was then disposed of by the police, and was never recovered. The police finally confirmed that he died in custody upon a habeas corpus suit (the first such suit in the history of Kerala) filed by his father in the High Court of Kerala. Ragam,is conducted  every year in remembrance of P.Rajan.</p>

<p>As the period between 1975 and 1977 was turbulent(due to the Nationwide Emergency), the exact sequence and details of the events still remain unclear. Although Ragam is conducted every year with much enthusiasm and festivity, the present generation ,even the organisers of Ragam are ignorant of the history of Ragam and P.Rajan. Through the Rajan memorial service ,we plan to trace back the life of P.Rajan  and events leading to his death.</p>

<p>The memoir is expected to have talks by the friends of P.Rajan from the 1976-77 batch of the college(then REC). An exhibition of the news articles concerning the events leading to Rajan’s death and after is also planned. The memoir will also screen videos of  talks by the relatives from the family of Rajan which will give more insight into the life of P.Rajan.We have tried to contact  most of the alumni from the 1976-77 batch and the relatives of the Rajan.</p>

<p style="padding-bottom:30px;">The whole idea of the event in a nutshell being, to shed  more light into the life of P.Rajan and  to make everyone aware of the history of Ragam.   





			
