<img src="~/Content/images/ragam_s1.jpg" />
<div id="ragam14">Children are the special gifts of the God. This Ragam dedicates a special day to the most special ones among them. Sneharagam is a platform for the specially talented children to showcase their unique abilities. It will be a day to cherish and relish the charms of those beloved ones, a day which will occupy a unique spot in the memory lane. Sneharagam, the social initiative of Ragam, stands for the sole aim of bringing a smile on the innocent faces of those lovely kids.</div>
<img src="~/Content/images/ragam_s2.jpg" />

