@{
    ViewBag.Title = Routes.GetTitile(PageTypes.BackToCampus);
    Layout = Routes.Layout;
}
<div class="p20">
    <h4>Back to campus details</h4>
    <ul class="p20">
        <li>Take a lecture/seminar for the NITC Students</li>
        <li>Take mock interviews for NITC Students</li>
        <li>Visit the campus</li>
        <li>Give career guidance for final year students</li>
    </ul>
</div>

@section Scripts{}
