@model List<Axb.ActiveAlumni.Nit.Entities.Education>

<div id="addEducationCtnr">
    <div style="position: relative">
        <h4><i class="icon-pencil"></i> Education</h4>
        @if ((bool)ViewData[Constants.ProfileEditKey])
        {
            <div class="edit-ctnr">
                <a class="edit-icon add-text"><i class="icon-plus"></i>Education
                </a>
            </div>
            <script>
                $(function () {
                    new AddProfile("Education");
                });
            </script>
        }
    </div>
</div>
<ul class="ltype-none">
    @foreach (var item in Model)
    {
        var ctnrId = String.Format("educationCtnr_{0}", item.EntityKey);
        <li id = '@ctnrId' class="span clearb ctnt-bhr">
            @{Html.RenderPartial("Show", item);}
        </li>
    }
</ul>


