<div class="footer-bk">
    <div class="main-align footer">
        <ul class="ft-l ta-l">
            <li>Powered by <b>AuxBrains</b>
            </li>
            <li>&copy; 2013-2014 Copyright NIT Calicut Alumni Association</li>
        </ul>
        <ul class="ft-r ta-r">
            <li>
                @{Html.RenderPartial("FeedButton");}
            </li>
            <li>support@nitcalumni.com
            </li>
            <li>+91 99 9501 1233</li>
        </ul>
    </div>
</div>
