<div>
    <div class="p20 ta-c">
        <hr />
        <h4>Thank You for visiting the site.
        </h4>
        <div>
            <h4 style="color: #555">We are upgrading the features of the site. We will back online in 30 minutes</h4>
        </div>
        <h4 style="color: #555">Please bear with us while it is being updated.</h4>
        <hr />
        <h6>NITC Alumni Association</h6>
    </div>
</div>
