<ul>
    <li>The length of password should be between 8 and 20</li>
    <li>Password should contain at least one number</li>
@*    <li>Password should contain atleast one uppercase letter</li>
    <li>Password should contain atleast one special character</li>*@
</ul>
