@{
    ViewBag.Title = "User Settings | NIT Calicut Alumni";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div>
    <div class="a-frm-ctnr">
        @Html.Partial("ChangePassword")
    </div>
</div>
@section Scripts{
<script src="~/Scripts/_ajax-form.js"></script>
    
    }

