@{
    ViewBag.Title = Routes.GetTitile(PageTypes.MentorHome);
    Layout = Routes.Layout;
    ViewData[Constants.HomeTitleKey] = "Student Mentoring";
    ViewData[Constants.HomeImgKey] = "/Content/images/std.png";
}
<div style="width: 650px; padding: 10px 30px">
    <h4>RECCAA SMP Program Overview
    </h4>
    <div class="read">
        <p>
            <img src="~/Content/images/mentor.jpg" class="ft-r" />
            The RECCA -Student Mentoring Program seeks to create personal and professional relationships between current students and alumni mentors, who act as role models and provide guidance to the undergraduates. A close and continuous connection with an alumnus will help in the intake, retention, graduation, recruitment and overall success of the student wishing to join NITC.  Students who choose to have a mentor will learn about coping with, and succeeding in, life at NITC and beyond from alumni who themselves have shared that experience with all its challenges and all its promise. 
        </p>
        <p>The strength of the programme: Over 13,000 alumni  to choose from all over the world! </p>
        <p>Generally, students are matched with an alumnus considering locale, gender, course of study, ethnicity, and career field. Alumni mentors and students are encouraged to meet in person once a semester and connect with each other one to two times a month, in addition to whatever e-mail correspondence, phone calls, and get-togethers that both agree upon.  The Alumni-Student Mentoring Program shall strive to periodically sponsor / cosponsor events of importance to the campus including Tathva and Ragam which provide opportunities for mentor/student interaction and networking. </p>
    </div>
    <br />
    <h6>Mentor’s Role: Overview </h6>
    <h6>What is an Alumni Mentor? </h6>
    <p>
        <ol class="read" style="margin: 0 0 0 25px;">
            <li>A guide, friend, and resource who has an opportunity to put his/her own vision, energy, and creativity to work
            </li>
            <li>One who wants to make an important difference in a NITC student’s life</li>
            <li>One who wants to maintain ties to NITC</li>
            <li>One who contributes to a student’s professional and personal development</li>
        </ol>
    </p>
    <p class="read">
        To be productive, there must be a reciprocal, trusting relationship between mentor and student. This relationship takes time to build, but at its best, it is a powerful personal relationship with a strong potential to positively influence student attitudes and behavior. 
    </p>
    <p class="read">The RECCAA - Student Mentoring programme is currently in its preparatory stage and shall be soon rolled out.</p>
</div>
@section Scripts{}
