@model Axb.ActiveAlumni.Nit.Entities.SpecialOffer

<div class="offer-show">
    <img src='/Admin/SpecialOffer/OfferImage/@Model.SpecialOfferId' alt="" />
    <div class="text">
        <div>@Model.OrganisationName, @Model.City</div>
        <div>@Model.OfferStatment</div>
    </div>
</div>
