@helper DateTime(DateTime? time, Axb.ActiveAlumni.Nit.Infrastructure.DateTypes type)
{
    if (time != null)
    {
        var code = time.Value.ToString("yyyy/MM/dd/HH/mm", System.Globalization.CultureInfo.InvariantCulture);
        <div data-format='@type.ToString()' class='time' data-utc='@code'></div>
    }
    else
    {
        <div>--</div>
    }
}
