@model IEnumerable<Axb.ActiveAlumni.Nit.Entities.AlumniToKnow>

<style>

</style>

<div class="tweekCntr">
    <div id="tweetLstCtnr">
    <ul id="tweekLst">
        <li>Loading.....</li>
    </ul>
    </div>
    @if ((bool)ViewData[Constants.IsAuthKey])
    {
        <form id="hmeTweekFrm">
            @Html.AntiForgeryToken()
            <textarea id="about" name="About" placeholder="Want to share success stories, awards, recognition, achievements, information? Post it here..."></textarea>
            <div>
            <a class="btn">
                <span>Tweet</span>
                <div class="d-ib" style="width: 20px;">
                    <img src="~/Content/images/busy_tw.gif" class="busy-img" />
                </div>
            </a>
            <span id="twCnt">1000</span>
            </div>
        </form>
    }
    else
    {
        <div class="d-ib va-t status-note"> Please <a href="/Login?ReturnUrl=%2fGuestHome">login</a> to share success stories, awards, recognition, achievements, information...</div>
    }
</div>

