@model int?
@using Axb.ActiveAlumni.Nit.Entities
@using Axb.ActiveAlumni.Nit.Services

<style>
    #mainContent {
        background: transparent;
        box-shadow: none;
        border: none;
    }

    #sortCtnr a {
        cursor: pointer;
        color: #aaa;
        font-weight: bold;
        padding: 5px 10px 5px 4px;
    }

    #sortCtnr {
        margin: 0 0 10px 4px;
    }

        #sortCtnr .sele {
            color: #09f;
        }
</style>
@{
    ViewBag.Title = "Discussions | NIT Calicut Alumni";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@if (Model != null)
{
    Html.RenderAction("Show", new { id = Model });
}
<div id="discLinksCtnr">
    <div class="disc-r-ctnr">
        <a class="new-obj add-btn-big" data-title="New Discussion" data-url='/Discussion/New'>
            <div class="icon"><i class="icon-plus"></i></div>
            <div class="text">New Discussion</div>
        </a>
    </div>
    @if (Model != null)
    {
        <div class="disc-r-ctnr">
            <div class="disc-lnk-head" style="color:#19f;"> <i class="icon-star"></i> Most Agreed Comments <i class="icon-star"></i> </div>
            <div class="lazy-load" data-url="/Discussion/MostAgreed/@Model"></div>
        </div>
    }
    <div class="disc-r-ctnr">
        <div class="disc-lnk-head">Recent Discussions</div>
        <div class="lazy-load" data-url="/Discussion/Recent"></div>
    </div>
    <div class="disc-r-ctnr">
        <div class="disc-lnk-head">Most Commented</div>
        <div class="lazy-load" data-url="/Discussion/MostCommented"></div>
    </div>
</div>
@section Scripts
{
    <script src="~/Scripts/_ajax-form.js"></script>

    <script>
        $(function () {
            getComments();

            $('#newCmnt textarea').click(function () {
                $(this).css('height', '60px');
                $('#newCmnt button').show();
            });

            $('#newCmnt').each(function () {
                var $this = $(this);

                $this.unbind('submit');
                $this.submit(function () {
                    showFrmBusy($this);
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize(),
                        success: function (result) {
                            if (result.errMsg === undefined || result.errMsg === null) {
                                $('#dis-cmts-ctnr').html(result);
                                $this.find('textarea').val('');
                            }
                            hideFrmBusy($this);
                        }
                    });
                    return false;
                });
            });
        });

        function getComments(sortBy) {
            $.ajax({
                url: '/Discussion/Comments',
                type: 'GET',
                data: { id: '@Model', sortBy: sortBy },
                success: function (result) {
                    $('#dis-cmts-ctnr').html(result);
                }
            });
        }

        $('#sortCtnr a').click(function () {
            var $this = $(this);
            $('#sortCtnr a').removeClass('sele');
            $this.addClass('sele');
            getComments($this.attr('data-id'));
        });

    </script>
}