@model Axb.ActiveAlumni.Nit.ViewModels.BloodSearchVm

@{
    ViewBag.Title = Routes.GetTitile(PageTypes.BloodBank);
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div id="searchCtnr">
    <div id="filterCtnr">
        <div class="avail-ht">
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(m => m.PageIndex)
                foreach (var grp in Model.Filters.Where(f => f.IsList))
                {
                @SearchHelper.DispayGroup(grp, Url.Action(grp.AutoComplete))
                <hr />
                }
            }
        </div>
    </div>
    <div class="span" style="width: 530px; margin: 0 0 0 10px;">
        <div id="searchResult">
            @Html.Partial("UserList", Model)
        </div>
        <div>
            @SearchHelper.PageControl(Model.TotalPages, Model.PageIndex)
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/Scripts/_search.js"></script>
    <script src="~/Scripts/_ajax-form.js"></script>
}
