@{
    ViewBag.Title = Routes.GetTitile(PageTypes.Chapters);
    Layout = Routes.Layout;
}

<div id="chaptersC">


    <hr />
    <table>
        <tr>
            <td class="head">Bangalore Chapter</td>
        </tr>
        <tr>
            <td class="lbl">President</td>
            <td class="val">Pavithran Marayankandy, 1971 Mechanical</td>
        </tr>
        <tr>
            <td class="lbl">Secretary</td>
            <td class="val">Ajith Nambiar, 1992 Mechanical</td>
        </tr>
        <tr>
            <td>
                <br />
            </td>
        </tr>
                <tr>
            <td class="head">Calcutta Chapter</td>
        </tr>
        <tr>
            <td class="lbl">President</td>
            <td class="val">Debabrata Ghosh, 1980 Civil Engineering</td>
        </tr>
        <tr>
            <td>
                <br />
            </td>
        </tr>
        <tr>
            <td class="head">Chennai Chapter</td>
        </tr>
        <tr>
            <td class="lbl">President</td>
            <td class="val">Venugopal B, 1972 EEE</td>
        </tr>
        <tr>
            <td class="lbl">Secretary</td>
            <td class="val">Asish Thomas, 2009 Mechanical</td>
        </tr>
        <tr>
            <td>
                <br />
            </td>
        </tr>
        <tr>
            <td class="head">Delhi Chapter</td>
        </tr>
        <tr>
            <td class="lbl">President</td>
            <td class="val">V K Abbey, 1971 Mechanical</td>
        </tr>
        <tr>
            <td class="lbl">Secretary</td>
            <td class="val">Vikas Bhansal, 1990 Production Engineering</td>
        </tr>
        <tr>
            <td>
                <br />
            </td>
        </tr>
        <tr>
            <td class="head">Kochi Chapter</td>
        </tr>
        <tr>
            <td class="lbl">President</td>
            <td class="val">Babu Varghese, 1968 Civil</td>
        </tr>
        <tr>
            <td class="lbl">Secretary</td>
            <td class="val">Mohandas M M, 1972 Civil</td>
        </tr>
        <tr>
            <td>
                <br />
            </td>
        </tr>
        <tr>
            <td class="head">Mumbai Chapter</td>
        </tr>
        <tr>
            <td class="lbl">President</td>
            <td class="val">Suresh Nair, 1982 Mechanical</td>
        </tr>
        <tr>
            <td class="lbl">Secretary</td>
            <td class="val">Vinod K, 1992 EEE</td>
        </tr>
        <tr>
            <td>
                <br />
            </td>
        </tr>
        <tr>
            <td class="head">Muscat Chapter</td>
        </tr>
        <tr>
            <td class="lbl">President</td>
            <td class="val">Sebastian John (1981)</td>
        </tr>
        <tr>
            <td class="lbl">Secretary</td>
            <td class="val">Linto Mathew (2010)</td>
        </tr>
        <tr>
            <td>
                <br />
            </td>
        </tr>
        <tr>
            <td class="head">UAE Chapter</td>
        </tr>
        <tr>
            <td class="lbl">President</td>
            <td class="val">Gouthaman P K, 1986 Electronics</td>
        </tr>
        <tr>
            <td class="lbl">Secretary</td>
            <td class="val">Joseph J X, 1992 Civil</td>
        </tr>

        @*    <tr>
        <td class="lbl">Secretary</td>
        <td class="val">Mohandas M M, 1972 Civil</td>
    </tr>*@
    </table>
</div>

@section Scripts{}
