@{
    ViewBag.Title = Routes.GetTitile(PageTypes.ParentChapter);
    Layout = Routes.Layout;
}

<div id="chaptersC">
    <h3>Parent Chapter</h3>
    <table>
        <tr>
            <td class="lbl">President</td>
            <td class="val">Jayaprakash G, 1970 Electrical and Electronics</td>
        </tr>
        <tr>
            <td class="lbl">Secretary</td>
            <td class="val">Sunil Mathew, 2009 Phd.</td>
        </tr>
        </table>
</div>
@section Scripts{}
