@{
    ViewBag.Title = Routes.GetTitile(PageTypes.ParentChapter);
    Layout = Routes.Layout;
}

<div id="chaptersC">
    <h4>Details of the  members of the Executive committee members of RECCAA/NITCAA elected on 16-08-2014 at NIT Calicut</h4>
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <td>1
                
                </td>
                <td>G Jayaprakash
                
                </td>
                <td>President
                
                </td>
            </tr>
            <tr>
                <td>2
                
                </td>
                <td>Ramkumar S
                
                </td>
                <td>Vice President
                
                </td>
            </tr>
            <tr>
                <td>3
                
                </td>
                <td>Sunil Mathew
                </td>
                <td>Secretary
                </td>
            </tr>
            <tr>
                <td>4
                
                </td>
                <td>Preethi M
                
                </td>
                <td>Joint Secretary
                </td>
            </tr>
            <tr>
                <td>5
                
                </td>
                <td>P Athruman Kutty
                
                </td>
                <td>Treasurer
                </td>
            </tr>
            <tr>
                <td>6
                
                </td>
                <td>P. Janardhanan
                
                </td>
                <td>
                    Committee Member
                </td>  
            </tr>
            <tr>
                <td>7
                
                </td>
                <td>V Ravichander
                
                </td>
                                <td>
                    Committee Member
                </td>  

            </tr>
            <tr>
                <td>8
                
                </td>
                <td>P Gopinathan
                
                </td>
                                <td>
                    Committee Member
                </td>  

            </tr>
            <tr>
                <td>9
                
                </td>
                <td>Yasir M Abdullah
                
                </td>
                <td>
                    Committee Member
                </td>  

            </tr>
            <tr>
                <td>10
                
                </td>
                <td>Ashokan K K
                
                </td>
                  <td>
                    Committee Member
                </td>  

            </tr>
            <tr>
                <td>11
                
                </td>
                <td>M C Manoharan
                
                </td>
                    <td>
                    Committee Member
                </td>  

            </tr>
            <tr>
                <td>12
                
                </td>
                <td>Skaviah K P
                
                </td>
                <td>
                    Committee Member
                </td>  

            </tr>
            <tr>
                <td>13
                
                </td>
                <td>Paul Joseph
                
                </td>
                <td>
                    Committee Member
                </td>  

            </tr>
            <tr>
                <td>14
                
                </td>
                <td>Sureshbabu K K
                
                </td>
                <td>
                    Committee Member
                </td>  
            </tr>
        </tbody>
    </table>
</div>
@section Scripts{}
